/* 初始化 */
html {
    width: 100%;
    height: 100%;
    /* -ms-overflow-style:none;
          overflow:-moz-scrollbars-none; */
  }
  
  /* html::-webkit-scrollbar{width:0px} */
  body,
  div,
  ul,
  li,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  select,
  p,
  dl,
  dt,
  dd,
  a,
  img,
  button,
  form,
  table,
  th,
  tr,
  td,
  tbody,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    margin: 0;
    padding: 0;
  }
  